
iframe#dashboardMainFrame {
	margin:15px;
	height: 1500px;
	border:1px solid #ccc;
	width:900px !important;
	overflow:hidden;
}

#account_name {
	float:right;
	margin:-20px 5px auto 0px;
	width:200px;
	text-align:center;
	color:#23698D;
	font-size:12px;
	display:none;
}

#panel {
	background: url("images/panel_bg.png") repeat-x scroll 0 0 transparent;
}