body {
    background-color: #fff;
}
#content { background-color:#fff; width:950px; min-height:550px; text-align:left; padding:20px;  }
h1 {
    padding:20px 10px 20px 10px;
}
h2 {
    padding-left: 0px !important;
}
#header {
    background-color: #CA410B !important;
}
.large { font-size:22px; }
.orange { color:orange; }
.italic { font-style:italic }
.textmiddle {vertical-align:middle;}
.padout { padding-left:25px; padding-right:25px; }
.rounded-corners {
     -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}
.rounded-corners-top {
     -moz-border-top-radius: 40px;
    -webkit-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
}
.right {
    float: right;
}
.scrolldown { padding-left:20px; color:#EDECE8; font-size:40px; font-weight:bold; vertical-align:middle;
	text-shadow: #6374AB 2px 2px 2px;
 }
 .contentblock { margin: 0px 20px; }
 .results { border: 1px solid blue; padding:20px; margin-top:20px; min-height:50px; }
 .blue-bold { font-size:18px; font-weight:bold; color:blue; }

 /* example styles for validation form demo */
#register-form {
    background: #fff;
    border: 2px solid #888;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 490px;
}

#register-form .fieldgroup {
    //background: url("form-divider.gif") repeat-x scroll left top transparent;
    display: inline-block;
    padding: 5px 5px;
    width: 350px;
}

#register-form .fieldgroup label {
    float: left;
    padding: 15px 0 0;
    text-align: right;
    width: 130px;
}

#register-form .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select {
    float: right;
    margin: 10px 0;
    height: 30px;
}

#register-form .submit {
    padding: 10px;
    width: 100px;
    height: 40px !important;
}

#register-form .fieldgroup label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: -5px 0 0px 135px;
    padding: 0;
    text-align: left;
	font-style:italic;
    width: 220px;
}
#signin_form{
	padding: 10px;
	border-radius: 10px 10px 10px 10px; 
	width: 550px; 
	overflow: hidden; 
	height: 120px; 
	margin: 0px auto auto -46px; 
	border: 1px solid rgb(136, 136, 136);
	background: #ededed;
}