#table1 td, #table1 th{
		text-align:center;
		font-size:13px;
	}
	
	.tableTitle{ color:#3FA2BF;
		font-size:170%
	}
	.ui-state-disabled{color:#ccc;} .dataTables_length select{width:70px;}
	.error{	color:#f00; }