
<script type="text/javascript">
$(document).ready(function(){
	//get data on load	
	$.post("/getData", {action:'getUsers'}, function(result){
			var dataSource = [];
			result.forEach(function(data){
				var format = [ data.firstName,	data.lastName,data.email,data.password,data.mobile_number, "<a  id='edit_"+data._id+"' href='javascript:void(0)' class='edit' title='Edit'><img src='images/edit.png'></a>&nbsp;<a  id='del_"+data._id+"' href='javascript:void(0)' class='delete' title='Remove'><img src='images/delete.png'></a>"];
				dataSource.push(format);				
			});
					
			oTable = $('#table1').dataTable({
				//	"sScrollY": "405px",
					"bPaginate": true, // show all, no more paging
					"bScrollCollapse": true,  //unfixed height
					"bAutoWidth": true,
					"bFilter": true,	//show/hide search
					"bInfo": true,
					"bJQueryUI": true,
					"sPaginationType": "full_numbers",
					"aoColumns": [null,null,null,null,null,{ "bSortable": false }],
					"bServerSide": false,
					"aaData": dataSource		
			});
			
	});

		
	$('.edit').live('mousedown',(function () {
		var id = $(this).attr('id');
		var d = id.split('_');			
		var mode = d[0]; var rowID = d[1];		
		alert(mode+' '+rowID);
	}));	
	
	$('.delete').live('mousedown',(function () {
		var id = $(this).attr('id');
		var d = id.split('_');			
			var mode = d[0]; var rowID = d[1];			
			if (confirm("Are you sure you want to remove this?")){
				alert(mode+' '+rowID);
				//$.post("ajax_clup_processor.php", {info: info}, function(data){
				  $("tr#"+rowID).fadeOut("slow");			  
			  //  });
			}
	}));	
	
});

</script>
<style type='text/css'>
	table td{
		text-align:center;
	}
</style>
		
		<div class='' style='padding:18px 18px 100px 18px;'>		
		<blockquote>
			<p class='tableTitle'>Payment Terms</p>
			<small><button class='btn btn-link'>Print Preview</button></small>
			</blockquote>
			<table id="table1" width="900px" class="table table-hover table-condensed table-bordered" style='border-collapse:collapse;'>
				<thead>																						
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Password</th>											
						<th>Phone</th>
						<th>Action</th>	
				</thead>
				<tbody> 
					
				</tbody>		
			</table>
		</div>