//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core styles
.btn {
  display: inline-block;
  padding: 0.33em 1.133em; // 5px 17px
  margin-bottom: 0; // For input.btn
  font-size: 0.83333em; //12px
  font-weight: @btn-font-weight;
  line-height: 1.6; //20px
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: @baseBorderRadius;
  white-space: nowrap;
  .user-select(none);
  background-repeat: repeat-x;
  background-image: none;
  &:focus {
    .tab-focus();
  }

  &:hover,
  &:focus {
    color: @btn-default-color;
    text-decoration: none;
    .transition(background-color .1s linear);
  }

  &:active,
  &.active {
    outline: 0;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(65);
    .box-shadow(none);
  }

}


// Alternate buttons
// --------------------------------------------------

.btn, .btn-default {
  .btn-pseudo-states(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
  .btn-pseudo-states(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// Warning appears as orange
.btn-warning {
  .btn-pseudo-states(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .btn-pseudo-states(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}
// Success appears as green
.btn-success {
  .btn-pseudo-states(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
  .btn-pseudo-states(@btn-info-color; @btn-info-bg; @btn-info-border);
}
.btn-cancel, .btn-exit {
   .btn-pseudo-states(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-cancel, .btn-exit {
  &:hover,
  &:focus {
    color: @btn-danger-color;
    background-color: @btn-danger-bg; 
  }

}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @linkColor;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @linkColorHover;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  padding: @paddingLarge;
  font-size: @fontSizeLarge;
  line-height: @baseLineHeight; // ensure even-numbered height of button next to large input
  border-radius: @borderRadiusLarge;
}
.btn-sm,
.btn-xs {
  padding: @paddingLarge;
  font-size: @fontSizeSmall;
  line-height: @baseLineHeight; // ensure proper height of button next to small input
  border-radius: @borderRadiusSmall;
}
.btn-xs {
  padding: 3px 5px;
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}