/* Custome LESS overrides */
@import "variables.less";
@import "mixins.less";
@import "buttons.less";
@import "button-groups.less";
@import "navbar.less";
@import "tables.less";
@import "forms.less";
@import "pricing-table.less";
@import "datepicker.less";
@import "wells.less";
@import "pdp-specific.less";
@import "reports.less";
@import "ie.less";


/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 


// Alternate buttons
// --------------------------------------------------

.btn-default {
  .btn-pseudo-states(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.btn-primary {
  .btn-pseudo-states(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// Warning appears as orange
.btn-warning {
  .btn-pseudo-states(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .btn-pseudo-states(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}
// Success appears as green
.btn-success {
  .btn-pseudo-states(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
  .btn-pseudo-states(@btn-info-color; @btn-info-bg; @btn-info-border);
}


// Large
.btn-large {
  padding: @paddingLarge;
  font-size: @fontSizeLarge;
  .border-radius(@borderRadiusLarge);
  font-weight: 300;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-xs { padding: 0.25em .65em; }
//
// Close icons
// --------------------------------------------------

.close {
  margin-right: 0px;
  color: @black;
  text-shadow: none;
  .opacity(30);
}

//
// Forms.less
// --------------------------------------------------


// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning {
  .control-label {
    color: @textColor;
  }
  input {
    border-color: @orange;
    color: @textColor;
  }
  .help-inline {
    color: @orange;
  }
}
// Error
.control-group.error {
  .control-label {
    color: @textColor;
  }
  input {
    border-color: @red;
    color: @textColor;
  }
  .help-inline {
    color: @red;
  }
}
// Success
.control-group.success {
  .control-label {
    color: @textColor;
  }
  input {
    border-color: @green;
    color: @textColor;
  }
  .help-inline {
    color: @green;
  }
}
// Success
.control-group.info {
  .control-label {
    color: @textColor;
  }
  input {
    border-color: @grayLight;
    color: @grayLight;
  }
  .help-inline {
    color: @grayLight;
  }
}

/* Date Picker CSS */
select[name*='_day'], select[name*='_hour'], select[name*='_minute']  {
    width: 3.750em;
}
select[name*='_month'] {
    width: 7.500em;
}
select[name*='_year'] {
    width: 4.500em;
}

//
// Breadcrumbs.less
// --------------------------------------------------

ul.breadcrumb {
  margin-left: 0;
}

//
// Navs.less - TABS
// --------------------------------------------------

.nav.nav-tabs>.disabled>a:hover, 
.nav.nav-tabs>.disabled>a:focus {
  text-decoration: none;
  background-color: @grayLighter;
  cursor: default;
}

.nav.nav-tabs {
	margin-bottom: 0;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-bottom: -0.063em;
}
// Actual tabs (as links)
.nav-tabs > li > a {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-top: 0.60em;
  margin-right: -1px;
  line-height: @baseLineHeight;
  font-size: 1em;
  color: @textColor;
  font-weight: 600;
  background-color: @grayLighter;
  border: 1px solid @grayLight;
  .border-radius(0);
  &:hover,
  &:focus {
    border-color: @grayLight;
  }
}
// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: @textColor;
  padding: 0.750em 1em 0.475em 1em;
  margin-top: 2px;
  background-color: @bodyBackground;
  border: 1px solid @grayLight;
  border-bottom-color: transparent;
  cursor: default;
}

// Space out pagination from surrounding content
.pagination {
  margin:  0;
  max-height: 2.500em;
}

.pagination ul {
  .border-radius(0);
  .box-shadow(none);
  margin: 0;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left; // Collapse white-space
  padding: 0.300em 0.750em;
  line-height: @baseLineHeight;
  text-decoration: none;
  background-color: @paginationBackground;
  border: 1px solid @paginationBorder;
  border-left-width: 0;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #ddd;
  color: @blue;
}

//
// Labels and badges
// --------------------------------------------------
/*
// Base classes
.label,
.badge {
  display: inline-block;
  padding-left: 0.750em;
  font-size: 0.850em;
  font-weight: 400;
  line-height: @baseLineHeight; // ensure proper line-height if floated
  color: @textColor;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
  background-color: lighten(@blue, 25%);
  border: 0px;
}

.badge {
  padding: 8px 16px;
  .border-radius(0);

}
*/
// Set unique padding and border-radii
.label {
  .border-radius(0px);
  background-color: transparent;
  color: @textColor;
  border: none;
}

//
// Alerts
// --------------------------------------------------

.alert {
  padding: 1em 1.250em;
  text-shadow: none;
  .border-radius(0);
}

.alert-note {
  color: @grayMed;
}

.alert-active,
.alert-approved {
  background-color: @successBackground;
  border-color: @successBorder;
  color: @successText;
}

.alert-inactive {
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @white;
}

.alert-pending {
  background-color: @pendingBackground;
  border-color: @pendingBorder;
  color: @pendingText;
}

.alert-warning {
  background-color: @warningBackground;
  border-color: @warningBorder;
  color: @warningText;
  .close {
    color: @warningText;
  }
}

.alert-blue {
  background-color: #aedfff;
  border-color: #37affd; 
  color: @infoText;
  padding: .5em 2em; 
  .close {
    color: #37affd; 
    display: inline; 
  }
  .close.pull-left {
    left: -.5em;
    top: -3px;
    right: auto;
  }
  p {
    margin: 0 0 0 0; 
    display: block; 
    padding-left: 1em;
  }
}

.alert-tip {
  margin-bottom: 1.250em;
  background-color: @infoBackground;
  border-color: @infoBorder;
  color: @infoText;
  p {
    margin: 1em 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.alert .close {
  position: relative;
  top: -.5em;
  right: -.4em;
  line-height: 1em;
  font-size: 30px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}


#partner-status {
  .alert-active,.alert-approved,.alert-inactive,.alert-pending,.alert-warning {
    border: 1px solid @grayLight;
    color: @textColor;
    h2,h3 {
      color: @white;
    }
    i {
      cursor: pointer;
    }
  }
}

//
// Thumbnails
// --------------------------------------------------

ul.thumbnails li {
  margin: 0 0 0.5em 0;
}

// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  display: block;
  padding: 0px;
  line-height: @baseLineHeight;
  border: none;
  .border-radius(0);
  .box-shadow(none);
  .transition(none);
}
// Add a hover/focus state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: @linkColor;
  .box-shadow(0);
}

// Images and captions
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.thumbnail .caption {
  padding: 9px 0;
  color: @gray;
}

//
// Type
// --------------------------------------------------

strong {
  font-weight: 600;
}

small {
  font-size: 0.85em;
}

ul.inline.pull-right{
  margin-bottom: 0;
  li {    
    padding-left: 1.2em;
    padding-right: 0;
  }
}

// Type
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px 0;
  line-height: 1.2;
}

h1 { font-size: 2.250em; } 
h2 { font-size: 1.875em; } 
h3 { font-size: 1.550em; } 
h4 { font-size: 1.250em; } 
h5 { font-size: 1em; }
h6 { font-size: 0.750em; } 

h1 small, 
h2 small,
h3 small, 
h4 small { 
  font-size: 0.85em;
  color: @textColor;
  font-weight: 300;
}

h2 small {
  font-size: 0.500em;
}

p {
  margin: 0 0 1em;
  font-weight: 300;
}

ul, ol {
  padding: 0;
  margin: 0 0 0 1.250em;
  font-weight: 300;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

//
// Icons
// --------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.250em;
  padding-right: 0px;
  vertical-align: -10%;
}

// Utility classes
.muted               { color: @gray; }
a.muted:hover,
a.muted:focus        { color: darken(@gray, 10%); }

//
// Dropdowns
// ----------------------------------------------------

.dropdown-toggle {
  // The caret makes the toggle a bit too tall in IE7
  *margin-bottom: -3px;
  cursor: pointer;

}


.dropdown-menu {
  margin-top: 0.500em;
  .border-radius(1px);
  .box-shadow(0 0.350em 1em rgba(0,0,0,.4));
  &:before {
    content: '';
    display: inline-block;
    border-left:   10px solid transparent;
    border-right:  10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    top: -10px;
    right: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   9px solid transparent;
    border-right:  9px solid transparent;
    border-bottom: 9px solid @white;
    position: absolute;
    top: -9px;
    right: 10px;
  }
}

.dropdown-menu.pull-right {
  margin-right: -7px;
}

//
// Tabs
// --------------------------------------------------
.tab-content.no-scroll {
    overflow:hidden;
}
