/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
 
.datepicker {
	font-size: 100%;
	top: 0;
	left: 0;
	padding: 0.500em 0.750em;
	margin-top: 1px;
	.border-radius(1px);
	&:before {
		content: '';
		display: inline-block;
		border-left:   0.850em solid transparent;
		border-right:  0.850em solid transparent;
		border-bottom: 0.850em solid #ccc;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -0.850em;
		right: 0.750em;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left:   0.850em solid transparent;
		border-right:  0.850em solid transparent;
		border-bottom: 0.850em solid @white;
		position: absolute;
		top: -0.800em;
		right: 0.750em;
	}
	>div {
		display: none;
	}
	table{
		width: 14.74em;
		margin: 0;
	}
	td,
	th{
		text-align: center;
		width: 1em;
		height: 1em;
		.border-radius(1px);
	}
	td {
		&.day:hover {
			background: @grayLighter;
			cursor: pointer;
		}
		&.day.disabled {
			color: @grayLighter;
		}
		&.old,
		&.new {
			color: @grayLight;
		}
		&.active,
		&.active:hover {
			background-color: @green;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
		span {
			display: block;
			width: 2.5em;
			height: 2em;
			line-height: 2em;
			font-size: 1em;
			float: left;
			margin: 0.163em;
			cursor: pointer;
			&:hover {
				background: @grayLighter;
			}
			&.active {
				background-color: @green;
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			}
			&.old {
				color: @grayLight;
			}
		}
	}
	
	th {
		&.switch {
			width: 9em;
		}
		&.next,
		&.prev {
		}
	}
	
	thead tr:first-child th {
		cursor: pointer;
		&:hover{
			background: @grayLighter;
		}
	}
	/*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}
.input-append,
.input-prepend {
	&.date {
		.add-on i {
			display: block;
			cursor: pointer;
			width: 1em;
			height: 1em;
		}
	}
}