//
// Forms
// --------------------------------------------------


// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0 0 2em 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0 0 0.750em 0;
  margin-bottom: 0;
  font-size: 1.500em;
  font-weight: 300;
  line-height: 1;
  color: @grayDark;
  border: 0;

  // Small
  small {
    font-size: 0.9em;
    color: @grayDark;
  }
  &.large {
    font-size: 2em;
    margin-top: 0;
  }
}

// Set font for forms
input,
button,
select,
textarea {
  #font > .shorthand(0.850em,400,1);
  color: #464646;
}
input,
button,
select,
textarea {
  font-family: @baseFontFamily; // And only set font-family here for those that need it (note the missing label element)
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 0.313em;
  #font > .shorthand(0.850em,600,@baseLineHeight);
  &.condensed {
    line-height: 1.2;
    small {
      font-weight: 400;
    }
  }
}

// Form controls
// -------------------------

// Shared size and type resets
btn,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 0 0.5em;
  height: 2em;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  .border-radius(@inputBorderRadius);
  vertical-align: middle;
}

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input,
textarea,
.help-inline,
.uneditable-input {
  width: @inputWidth; 
}
// Reset height since textareas have rows
textarea {

}
// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border linear .2s, box-shadow linear .2s");

  // Focus state
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
  }
}


// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 0.250em 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
  border: 1px inset;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: @inputHeight; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 0.313em; /* For IE7, add top margin to align select with labels */
  line-height: @inputHeight;
}

// Make select elements obey height by applying a border

select {
  width: 12.500em; // default input width + 10px of padding that doesn't get applied
  height: 2em;
  padding: 0.250em 0.500em;
  border: 1px solid @inputBorder;
  background: #fff;
  background-color: @inputBackground; // Chrome on Linux and Mobile Safari need background-color
  background-color: #fff!important;
   -moz-box-shadow:   none;
   -webkit-box-shadow: none;
   box-shadow:         none;

  .transition(~"border linear .2s, box-shadow linear .2s");

}
select option { background-color: #fff; }

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}


// Uneditable inputs
// -------------------------

// Make uneditable inputs look inactive
.uneditable-input,
.uneditable-textarea {
  color: @grayLight;
  background-color: darken(@inputBackground, 1%);
  border-color: @inputBorder;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
  cursor: not-allowed;
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden; // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
}

// Make uneditable textareas behave like a textarea
.uneditable-textarea {
  width: auto;
  height: auto;
}


// Placeholder
// -------------------------

// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
input,
textarea {
  .placeholder();
}


// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.radio,
.checkbox {
  min-height: 1em; // clear the floating input if there is no label text
  padding-left: 0;
}

label.checkbox { 
    position: relative;   
    input[type="checkbox"] { position: absolute;    }
    span { padding-left: 2em; display: inline-block; line-height: 1.2em; }
  
}
label:not(#foo).checkbox > input[type='checkbox'] + span:before {  margin-left: -2em; padding-left: .4em;   }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin: 0.500em 0.500em 0 0;
}

// Move the options list down to align with labels
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 0.313em; // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 0.313em;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 0.625em; // space out consecutive inline controls
}


// INPUT SIZES
// -----------

// General classes for quick sizes
.input-mini       { width: 3.750em; }
.input-small      { width: 6em; }
.input-medium     { width: 8em; }
.input-large      { width: 14em; }
.input-xlarge     { width: 16.250em; }
.input-xxlarge    { width: 530px; }
.phoneNumberFormat { width: 8em; }
.input-full { 
  width: 100%;
}

// Grid style input sizes
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
// Redeclare since the fluid row class is more specific
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
// Ensure input-prepend/append never wraps
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}



// GRID SIZING FOR INPUTS
// ----------------------

// Grid sizes
#grid > .input(@gridColumnWidth, @gridGutterWidth);

// Control row for multiple inputs per line
.controls-row {
  .clearfix(); // Clear the float from controls
}

// Float to collapse white-space for proper grid alignment
.controls-row [class*="span"],
// Redeclare the fluid grid collapse since we undo the float for inputs
.row-fluid .controls-row [class*="span"] {
  float: left;
}
// Explicity set top padding on all checkboxes/radios, not just first-child
.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 0.313em;
}




// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: @inputDisabledBackground;
}
// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}




// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning {
  .formFieldState(@warningText, @warningText, @warningBackground);
}
// Error
.control-group.error {
  .formFieldState(@errorText, @errorText, @errorBackground);
}
// Success
.control-group.success {
  .formFieldState(@successText, @successText, @successBackground);
}
// Success
.control-group.info {
  .formFieldState(@infoText, @infoText, @infoBackground);
}

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    @shadow: 0 0 0.313em lighten(#ee5f5b, 20%);
    .box-shadow(@shadow);
  }
}



// FORM ACTIONS
// ------------

.form-actions {
  background-color: @formActionsBackground;
  .clearfix(); // Adding clearfix to allow for .pull-right button containers
}


// HELP TEXT
// ---------

.help-block,
.help-inline {
  color: lighten(@textColor, 15%); // lighten the text some for contrast
}

.help-block {
  display: block; // account for any element using help-block
  margin-bottom: @baseLineHeight / 2;
}

.help-inline {
  display: block;
  .ie7-inline-block();
  vertical-align: middle;
  padding: 0.125em 0 0 0;
}



// INPUT GROUPS
// ------------

// Allow us to put symbols and text within the input field for a cleaner look
.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: middle;
  font-size: 1em; // white space collapse hack
  white-space: nowrap; // Prevent span and input from separating

  // Reset the white space collapse hack
  input,
  select,
  .uneditable-input,
  .dropdown-menu,
  .popover {
    font-size: @baseFontSize;
  }

  input,
  select,
  .uneditable-input {
    position: relative; // placed here by default so that on :focus we can place the input above the .add-on for full border and box-shadow goodness
    margin-bottom: 0; // prevent bottom margin from screwing up alignment in stacked forms
    *margin-left: 0;
    vertical-align: top;
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    // Make input on top when focused so blue border and shadow always show
    &:focus {
      z-index: 2;
    }
  }
  .add-on {
    display: inline-block;
    width: auto;
    height: @baseLineHeight;
    min-width: 16px;
    padding: 4px 5px;
    font-size: @baseFontSize;
    font-weight: normal;
    line-height: @baseLineHeight;
    text-align: center;
    text-shadow: 0 1px 0 @white;
    background-color: @grayLighter;
    border: 1px solid #ccc;
  }
  .add-on,
  .btn,
  .btn-group > .dropdown-toggle {
    vertical-align: top;
    .border-radius(0);
  }
  .active {
    background-color: lighten(@green, 30);
    border-color: @green;
  }
}

.input-prepend {
  .add-on,
  .btn {
    margin-right: -1px;
  }
  .add-on:first-child,
  .btn:first-child {
    // FYI, `.btn:first-child` accounts for a button group that's prepended
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
  }
}

.input-append {
  input,
  select,
  .uneditable-input {
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
    + .btn-group .btn:last-child {
      .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    }
  }
  .add-on,
  .btn,
  .btn-group {
    margin-left: -1px;
  }
  .add-on:last-child,
  .btn:last-child,
  .btn-group:last-child > .dropdown-toggle {
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
  }
}

// Remove all border-radius for inputs with both prepend and append
.input-prepend.input-append {
  input,
  select,
  .uneditable-input {
    .border-radius(0);
    + .btn-group .btn {
      .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    }
  }
  .add-on:first-child,
  .btn:first-child {
    margin-right: -1px;
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
  }
  .add-on:last-child,
  .btn:last-child {
    margin-left: -1px;
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
  }
  .btn-group:first-child {
    margin-left: 0;
  }
}




// SEARCH FORM
// -----------

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9; /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0; // Remove the default margin on all inputs
  .border-radius(15px);
}

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  .border-radius(0); // Override due to specificity
}
.form-search .input-append .search-query {
  .border-radius(14px 0 0 14px);
}
.form-search .input-append .btn {
  .border-radius(0 14px 14px 0);
}
.form-search .input-prepend .search-query {
  .border-radius(0 14px 14px 0);
}
.form-search .input-prepend .btn {
  .border-radius(14px 0 0 14px);
}




// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------

.form-search,
.form-inline,
.form-horizontal {
  input,
  textarea,
  select,
  .help-inline,
  .uneditable-input,
  .input-prepend,
  .input-append {
    display: inline-block;
    .ie7-inline-block();
    margin-bottom: 0;
    vertical-align: middle;
  }
  // Re-hide hidden elements due to specifity
  .hide {
    display: none;
  }
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
  padding-right: 1.250em;
}
// Remove margin for input-prepend/-append
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
// Inline checkbox/radio labels (remove padding on left)
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0.313em;
  vertical-align: middle;
}
// Remove float and margin, set to inline-block
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin: 0.375em 0.500em 0 0;
}


// Margin to space out fieldsets
.control-group {
  margin-top: 0 !important;
}

// Legend collapses margin, so next element is responsible for spacing
legend + .control-group {
  margin-top: @baseLineHeight;
  -webkit-margin-top-collapse: separate;
}

// Horizontal-specific styles
// --------------------------

.form-horizontal {
  // Increase spacing between groups
  .control-group {
    margin-bottom: 1em;
    .clearfix();
  }
  // Float the labels left
  .control-label {
    float: left;
    width: @horizontalComponentOffset;
    padding-top: 0.313em;
    text-align: left;
  }
  .span5 .control-label {
    width: @horizontalComponentOffsetSmall;
  }
  // Move over all input controls and content
  .controls {
    // Super jank IE7 fix to ensure the inputs in .input-append and input-prepend
    // don't inherit the margin of the parent, in this case .controls
    *display: inline-block;
    *padding-left: 1.250em;
    margin-left: 0;
    &:first-child {
      *padding-left: @horizontalComponentOffset;
    }
    .form-inline {
      padding-top: 0.200em;
    }
    .form-inline-stack {
      padding-top: 0.200em;
      label {
        display: block;
      }
    }
  }
  .span5 .controls {
      &:first-child {
      *padding-left: @horizontalComponentOffsetSmall;
    }
  }
  .form-actions {
    .btn {
      margin-right: 0.625em;
    }
    a {
      font-size: 0.850em;
      font-weight: 600;
    }
  }
  .help-inline {
    margin-bottom: 0;
    margin-left: @horizontalComponentOffsetSmall;
    display: block;
  }
  // Remove bottom margin on block level help text since that's accounted for on .control-group
  .help-block {
    margin-bottom: 0;
  }
  // And apply it only to .help-block instances that follow a form control
  input,
  select,
  textarea,
  .uneditable-input,
  .input-prepend,
  .input-append {
    + .help-block {
      margin-top: @baseLineHeight / 2;
    }
  }
  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: @horizontalComponentOffset;
  }
}

.span5 .form-horizontal {
   .form-actions {
    padding-left: @horizontalComponentOffsetSmall;
  }
}

// custom checkboxes and radio buttons

label:not(#foo).checkbox > input[type='checkbox'], 
label:not(#foo).radio > input[type='radio']{
  opacity: 0;
  position: absolute;
  float: left;
}


label:not(#foo).checkbox > input[type='checkbox'] + span:before, 
label:not(#foo).radio > input[type='radio'] + span:before{
  content: "";
  clear: none;
  display: inline-block;
  position: relative;
  top: 0.313em;
  margin-top: -0.5em;
  padding-right: 0.375em;
  width: 1.5em;
  height: 1.5em;
  z-index: 10;
  background-position: left center;
  background-repeat: no-repeat;
}

label:not(#foo).checkbox > input[type='checkbox'] + span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAARUlEQVR4AWM65Hno2aH/+CFQhScTw1wGSQYCAKhiLhNImTF+CFbKxEAkoEThqMJRhc8ZGM4SgEDwgokhheEFQeOeMiQDADr4N6BLbQntAAAAAElFTkSuQmCC);
}

label:not(#foo).checkbox > input[type='checkbox'][disabled] + span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAPklEQVR4AWN86Mkwl0GSAT94zpDM+PAZRBkhpYwP/zMwiBBQ9QaI6aBwVOGoQmIT7gvGh17ArCBBQNlThjQAcFA5+UdPZ1MAAAAASUVORK5CYII=);
}

label:not(#foo).checkbox > input[type='checkbox']:checked + span:before {
  background: left center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAOVBMVEU4r/84r/84r/84r/84r/84r/+Z0/+q3P+v3/9/x/9Hs/9nvf9wwP9duv+f1v+Nzf94xP+k2f+Gyv+uGEhCAAAABXRSTlPmSUrn5Ei2aCUAAABjSURBVHhehc9JCsMwEEVBxU5p8Jzc/7DRUrQDfsuCpvnplYQ6RUM3NcQz1pzveJIjFu64ssfzjDLg+e240Ibvma02ljrgBxeOEWsDW1i0QwlYcN5mHuv1d/sTJjFzmmah9/QDm78KkiCROTgAAAAASUVORK5CYII=); 
}

label:not(#foo).checkbox > input[type='checkbox'][disabled]:checked + span:before {
  background: left center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAPFBMVEXX19fX19fX19fX19fX19fd3Nzn5+fk4+Pq6urm5eXr6+vh4ODe3d3g39/j4uLi4eHo6Ojl5OTp6enX19e2gJwEAAAABXRSTlPmSedK5IK/ZLIAAABlSURBVHhehc9JDsQwCAVRZyg8Zuz737XxzvqJlFo+CQFhCj/JyU3rViTXbzR7YgZTTLxghU3HDUgD5suxQRy2GxwlQisD3sAOnCOWSO+Q4zeAJJiA/HjzrPvr71/oqs1hmdXW5Q++bxNAsh7taQAAAABJRU5ErkJggg==); 
}

label:not(#foo).radio > input[type='radio'] + span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAABU0lEQVQ4y51VzW7CMAyOhBQO8CyDA4e8xrZ2F3ihcqKwZ+Cyvg+amEYl+gTjArt0NnI64zihm6Uv1PZn58dOMAZk9/F5MPRR02/rDS1Xtjg41YWKA5RXIwxvqBgSznwBnACWh14AY/rOfuk8PGZc+qXcEEAZcIdA4UlzvwAjBGyTLisMX6RYowgnWjbNVJAasjfc+Kysb69NgZm3dFg7QK6RisSuB56UMWNJR+8oc1DWYCPkO5NvYYLTvyU68tf3iOOuGHeIJfkrVI7BoYryAYZyQxqWcpq9QspMTMD5GAkKygt4SiUqeiRJ9zbrmaMgNFpBWcyUdSqPsf5ec8fa9BTkitiKt1GbumCRhEMRe22cd2F0f0joRGzN3wgPXPGkR7IHZXcL78yVyuH1WwFmgBFhRraLws/ljPjkbf7RMq/d45DYjqWjqPAPA/BNOJBtHiveD1VEWPdxkPrrAAAAAElFTkSuQmCC);
}

label:not(#foo).radio > input[type='radio']:checked + span:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAABbklEQVQ4jZ1Uy06DUBAlaUIX+i22iy7ub6jFTftB0lWpfkM3kvg5xnQBSdnCQjfiBuc2Z+phuMVEkgPMnJlhXtwoksu9dkWEl1LQeaiiJ+z9zQkeB1QHJjsp5fYCwSNmywfBp1eyayu4xvsyUvPek4SGlRtN5fwRsBMmDFI1WmkCkblENztHldsHhJgbI6h7jdJigbmJWEFfsfI+kN/BpqOR92jWmyAJGaUjVU/UaEnKDK13iDwcvy0E3Be4dW8Z5Lk1soNcWsPayLoBrTX0lTc+V8gZ+NwLx0FTzfgEU1tQCBtb4SFgtBw0nRxuLzgNxiu4Gws0NsW/kNqdORqDKjRQ8pnTprJPrP81EzvzsQxzbfAeE78zvjmvkYIdajcsryZ+arjT4rwbpSOHbSBgSrwzXMlnhMJnPLs4vd9gN4Hq1komgUxaZLgQXAEL6NqAfWK/6I+8p3+szLPTw2GknBityAWF4BsooFvx8Pj6AVz+Djc3Avi4AAAAAElFTkSuQmCC);
}