//Global
html,body { height: 100%; }
ul, li, p { line-height: 1.4em; }
h5 { font-weight: bold; }
.inline { display: inline-block; }


// Fonts
.font-size-mini { font-size: @fontSizeMini; }
.font-size-small { font-size: @fontSizeSmall; }
.font-size-large { font-size: @fontSizeLarge; }


// Breadcrumbs

.breadcrumbs {  padding: 0; background-color: #f1f1f1; min-height: 3em; border-bottom: 5px solid #d7dcde;  }
.breadcrumbs p { margin: 0em; vertical-align: middle; padding: .8em 0; color: #ccd1d3;  }
.breadcrumbs a {  color: #ccd1d3; }
.breadcrumbs a:hover {  text-decoration: none; }
.breadcrumbs .link { text-align: center; line-height: 1.4em;  border-bottom: 5px solid transparent; margin-top: -5px; }
.breadcrumbs .link.active { border-bottom: 5px solid #2ecc71;  }
.breadcrumbs .link.active p { color: @grayMed; }

// Specific layout hacks

header {
  .brand {
    display: inline-block;
    padding: 1em 0;
    img {
      // width: 13.650em;
    }
  }
  &.container-fluid {
    margin-bottom: 0;
  }
  &.container {
    margin-bottom: 0;
  }
}

.account {
  background: @grayLighter;
  border: 1px solid @grayLight;
  color: @LinkColorStyle2;
  border-top: none;
  padding: 12px 8px;
  font-size: @fontSizeSmall;
  line-height: 1em; 
  font-weight: bold; 
  .inline {
    margin: 0;
  }
  a { color: @LinkColorStyle2; }
  a:hover, a:active {
    text-decoration: none;
    color: @LinkColorStyle2Hover;
  }
  ul { line-height: 1em; }
  ul.inline>li { padding-left: 7px; padding-right: 7px; line-height: 1em; }
}

.container-fluid {
  max-width: @pageMaxWidth;
  margin: 0 auto;
}

.container {
	width: @pageWidth;
	margin-bottom: 1.250em;
}

.container-fluid {
	margin-bottom: 1.250em;
}

.border [class*="span"] {
  padding: 1.250em;
  [class*="span"] {
  	padding: 0px;
  }
}

.max-width {
  max-width: @pageMaxWidth;
  margin: 0 auto;
}

.container.border {
  .nav-tabs {
    padding-left: 1.250em;
  }
}

.page-intro {
  padding: 0.750em 1.250em 0;
}

.tab-link {
  top: 1.063em;
  right: 1.250em;
  position: relative;
}

// Messages
.note { color: @gray02; }

//
// Collapse in forms has background and expands 100% 
// -------------------------------------------------

form {
  .collapse {
    margin: 0 -20px;
    .collapse-inner {
      padding: 1.250em 1.250em 0.650em 1.250em;
      margin: 0 0 1.250em 0;      
      border-bottom: 1px solid lighten(@blue, 25%);
      border-top: 1px solid lighten(@blue, 25%);  
      background-color: lighten(@blue, 30%);
      .box-shadow(inset 0 0 10px rgba(0,0,0,.1));
      &:before {
        content: "\f0d7";
        font-size: 2em;
        color: @white;
        font-family: FontAwesome;
        position: absolute;
        margin-top: -1.438em;
        margin-left: 5.100em;
      }
    }
  }
}



//
// PDP Specific classes and overrides
// ----------------------------------------------

// header

header {
  [class*="span"] {
    padding: 0 1.250em;
  }
}
.page-wrap {    width: 100%;  min-height: 100%; height: auto !important; height: 100%; margin: 0px 0px -250px 0px;  }

footer.bottom-footer {
  background-color: #1e1e1e;
  color: #888;
  float: left; 
   width: 100%; 
}

footer.bottom-footer .row-fluid { font-size: @fontSizeSmall; }
footer.bottom-footer { padding-top: 1.250em; }
footer.bottom-footer p.title, footer.bottom-footer li:first-child  { margin: 0 0 .4em; color: #fff; }
footer.bottom-footer [class*="span"] { padding-left: 0; padding-right: 0; }
footer.bottom-footer li:first-child { color: #fff; }
footer.bottom-footer a, footer.bottom-footer li  { color: #888; }
footer.bottom-footer ul { list-style: none; margin: 0 0 1em 0; }
footer.bottom-footer form [class*="span"] {   }
footer.bottom-footer .input-append {    display: inline-block; float: left; width: 100%; }
footer.bottom-footer input[type="text"] { border: 1px solid #38afff;  padding: 0 0.5em; background: transparent;   color: #fff; }
footer.bottom-footer input[type="submit"] {  margin: 1px 0px 1px -2em; border-color: #38afff; height: 2em; padding: 1px 0.5em; color: #fff; display: inline-block; background-color: #38afff;  }
footer.bottom-footer .social-links { margin: .8em 0 0 -10px; margin: 0 0 0 -10px; }
footer.bottom-footer p.inline { margin-right: 1.5em; }
footer.bottom-footer .social-links, footer.bottom-footer .best-managed { display: inline-block; }
footer.bottom-footer .social-links ul { margin: 0; }
footer.bottom-footer .best-managed { padding-top: 1px;  }


// Masthead

.masthead {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0 0.25em 0;
  min-height: 28em;
  margin-top: -1em;
  color: @white;
}

.quote-box {
  min-width: 23em;
  float: right;
  background: @white;
  //border: 1px solid @grayLight;
  border: 1px solid #fff;
  .box-shadow(0 0 1.250em rgba(0,0,0,0.2));
  .alert {
    margin-bottom: 1em;
  }
  h3 {
    background: @grayDark bottom center no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAAQCAMAAADZPOtqAAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAABBSURBVHja7dNBDQAgDACx4d80Du67EFoPHbadMvA7P6D4AcUPKH5A8QOKH1D8gOIHFD+g+AHFDyh+QPEDih/AMy5rmgDiyrfhxwAAAABJRU5ErkJggg==);
    margin: 0;
    padding: 0.500em 0.250em 1.250em;
  }
  form {
    padding: .65em 1.250em 1.250em;
    color: @textColor;
    height: 20em;
    overflow: auto;
    .label {
      padding-left: 0;
    }
    input.calendar {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAbCAQAAAC3zkURAAAA+UlEQVR4Ac3UUa2cQBgF4K8S5koACb0SFgkXCSChK6GVsEgACZCsAZAAEhgJbTIP80Yg2Wxzz8t5mXwhJ+T/4cV8O+AZ9IKotQEaDSb3A+AJclYF2JSgsAJqwxVgF7Qeoo8MTBa/zoGbHgGlFREEdDozokV1DPS+IAM5GYBPyxHw0AA6jRwsNl/yEidfcJJ3Ax+iYE/NX60OvaCSXrgOYNcaMpBWOgNaUeF3anqdSTRa/BET9L83qA0HG7wLKBOwKuURRbOowuj29g0qm8KYmtXdgIegTn17YYNr/8GnTWFOze6uw2xTY/Tz9Q0qE8cH5SzHB+V6vh/wD6TrlgSG0D6wAAAAAElFTkSuQmCC);
      background-repeat: no-repeat;
      background-position: right .1em;
      background-size: 25%;
    }
  }
  button {
    width: 100%;
  }
}



.summary-display {
  h1 {
    font-size: 3.5em;
  }
}

// check mark list style
.list-check {
  list-style: none;
  li {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 4em 0.750em 4em;
    margin-bottom: 1em;
    text-indent: -2em;
    font-weight: 300;
  }
  li:before {
    content: "\f00c";
    font-size: 120%;
    padding-right: 0.750em;
    font-family: FontAwesome;
    color: @green;
  }
}

//Partner Tools

.partner-tool-container {
  .checkbox.inline, .radio.inline, .checkbox.inline, .controls>.radio:first-child {
    padding-top: 0;
  }
  .tools-head {
    border-bottom: 1px solid @borderColor;
    padding: 0.850em 1.250em;
  }
  .tools-body {
    padding: 0.500em 1.250em;
    > span {
      display: inline-block;
      width: 30%;
    }
  }
  &.disabled {
    .tools-head {
      > span {
        color: @grayLight;
      }
    }
    .tools-body {
      color: @grayLight;
      label, .info{        
        pointer-events: none;
        cursor: default;
        color: @grayLight;
      }
    }
    a {
      color: @grayLight;
      pointer-events: none;
      cursor: default;
    }
  }
}

// Collateral

.container.collateral img {
  max-height: 300px;
}

#all-collateral img:hover {
  cursor: pointer;
  .opacity(85);
}

// Dashboard tweets

#tweets {
  ul {
    list-style: none;
    margin: 0 0 0 0;
  }
  a {
    font-weight: 400;
  }
  .timestamp {
    font-size: 0.850em;
    font-weight: 600;
  }
}

//
// PDP Specific utlilty classes
// ----------------------------------------------

// Boxes

.text-box {
  padding: 0.4em;
  margin: 0;
  background-color: @grayLighter;
  &.green {
    background-color: @green;
    color: @white;
  }
}

// arrows
.arrow-left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAEsCAQAAAAIxnmwAAABrUlEQVR4Ae3XT0sVaBwF4KePmNdKRKUW/UOKClq4qVCqTUFQQRSIUEGbNoYNDMMwtGghFUZBgZVkBIWISnFR9N47S/e/d9HmnA/wLM/hHBgMNCVAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAB/FggQIECA2y1A10mP6sBnHW+pAgvGbFID+qbN6FMDNox5DjVgSccXqsBDp3SpAbvOuws14LvDXlIFXjjiB1Xglov2qAG/HfcEasCyIe+pAvMmbFEDei67ZkANWDfqb6gBr3V8pQrMmrRNDdhx1n2oAd8MW6QK/GvEGjVg4IYpPWrAL8c8hRrwwUEfqQNHzdEC9N00Za8ODPCfET/LwH5ltQDsuuBOCwCPndBtAXinY7kFYMuE+RaAgesu6dUB+MeotRaAVYcstgDsOOdeCwBzTttuAVgyZKUFYMO4hRaAvhnT+nUA/jJuvQVgxbA3LQDbJs22APDAGTstAK90rJaB/fVuAei54qpBHYBnJmy2AHwy3AbQbQNy+wIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQID/AeypvNw33IAuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 0.5em;
  padding-left: 1em;
}

.arrow-right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAEsCAQAAAAIxnmwAAABrElEQVR4Ae3XTYsOehgG8N8zzzAvNF6GLCaD4yUlmjQUGwsKUWKjZoGYhU6ds5iFptCoSbEQMiIUmtGE55lvZz2Ws7//K7nuD/Db3VfX1Vlf13QBAgQIECBAgAABAgQI8NcDAQIECBAgQIAAAQIECBAgQIAAAQL8MtoGTOk52AKw3bKrLQAdDz3RrQNw0TfjLQD79Ey3AAx7Y7YFgLveGm4BOKlvfwvAuBWXWgAGLHhkoA7AFct2tAD8o2+qBWDEO7dbALjvlaEWgNN69rYA7LbqfAtA16J5nToA13y1rQXgsL7jLQBbfDDTAsB/XtjUAnDWDxMtAHt8d64FYNAzcy0A3GkDjlprAW74bKwKdD31QIcSsPFaNeCUnkmqwKwlQ9SAYUvuQQ2Y1DdNFbhg1S5qQMe8RV1qwJgvrkMNOGbNEarATZ9spQYMem4OCsBGYFSBM36aoAr866XN1IAR792CGnDAmimqwGUrdlIDOh5bMEAJ2CjcNeCEvkNUgRkfjVIFXvv/Dx5dAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBAgQIDf4kVWKl7DePoAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 0.5em;
  padding-right: 1em;
}

.full-height-arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAABkAQMAAABEn8bMAAAABlBMVEX////MzMw46qqDAAAAAXRSTlMAQObYZgAAAMpJREFUeF7d2jERA0AIBdFIRxpSkEBJwXCZiMgWi4FXccN9+Ly/1n5+9WfkCOQhSBBIEkhpkCaQIZAlkCOQhyChQZJAikCaQIZAlkBOgzwECQJJAikCaQIZDbIEcgTyECQIJAmkNEgTyBDIEsgRyEOQ0CBJIEUgTSBDIEsgRyBPgNiQI5DVNGNrHsjUIGEZJE4z3I1m4C4NkpqPqSYsWAIZDdKaeDA1ka0nq9esNkazbirNCjA0iGZVvgQymkOM0iCpOVgCj8iIXvwC9sEIDeHaQp4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
 background-position: right center;
 padding-right: 1em;
}

.print-page {
  color: @textColor;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
    color: @gray;
  }
}

// Colors

.gray-bg {
  background-color: @grayLighter;
}

.gray-dark-bg {
  background-color: #ddd;
}

.green-bg {
  background-color: @green;
  color: @white;
}

.error {
  color: @red;
}

.info {
  color: @blue;
}

.success {
  color: @green;
}

.warning {
  color: @orange;
}

.pending {
  color: @yellow;
}

.text-shadow {
  text-shadow: 0px 0px 10px #333;
}

// Images 

.img-inline {
  padding: 0 2em 1em 0;
  max-width: 250px;
}


// Forms

// Class for adding inline/ grouped fields in a horizontal form
.inline-control-group {
  .control-group, form, .controls  {
    float: left;
    display: inline-block;
    margin-right: 0.625em;
    margin-bottom: 0;
  }
}

#login-form.form-horizontal .control-label { width: 8em; }
#login-form .border-box-bottom { min-height: 50px; }
#login-form .border { min-height: 228px; }
.input-nobg, input.input-nobg, textarea.input-nobg { background-color: #fff; border: none; }
.input-xhigh { height: 10.666em; }
.signup-banner { width: 470px; height: 280px; background: url('../images/signup-banner.jpg') 0 0 no-repeat; position: relative; }
.signup-banner h3 { padding-top: 70px; text-align: center; color: #fff; }
.signup-banner .btn-success { position: absolute; display: block;  top: 152px; left: 130px;  width: 205px;  font-size: 1.2em;  }

// Buttons

.btn-full {
  width: 100%;
  padding: @paddingLarge;
  font-size: @fontSizeLarge;
  .border-radius(@borderRadiusLarge);
  font-weight: 300;
}

.base {
  background-color: @blue;
}

.highlighted {
  background-color: lighten(@blue, 25%);
  padding: 0.250em 0;
}



// widths

.full-width {
  width: 100%;
}

// Margins

.no-margin {
  margin: 0 !important;
}

.margin-top {
  margin-top: 1em;
}
.margin-left {
  margin-left: 1em!important;
}
.margin-right {
  margin-right: 1em!important; 
}


.margin-small-top {
  margin-top: 0.438em;
}

.margin-bottom {
  margin-bottom: 1em;
} 
.no-margin-bottom {
  margin-bottom: 0!important; 
}
// Padding

.no-padding {
  padding: 0;
}

.padding {
  padding: 1.250em;
}
.padding-right {
  padding-right: 1.250em;
}
.padding-left {
  padding-left: 1.250em; 
}
.padding-top {
  padding-top: 1.250em; 
}
.padding-bottom {
  padding-bottom: 1.250em; 
}

.padding-small {
  padding: 0.625em;
}

.padding-short {
  padding: 0.625em 1.250em;
}


.padding-narrow {
  padding: 1em 0;
}

.padding-small-top {
  padding-top: 0.625em; 
}
.padding-top {
  padding-top: 1.250em; 
}

.padding-med {
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.padding-med-top {
  padding-top: 2.2em;
 }

.padding-bottom {
  padding-bottom: 1.250em;
}

.no-padding-bottom { 
  padding-bottom: 0;

}

// Borders

.border {
	border: 1px solid @grayLight;
}

.border-top {
  border-top: 1px solid @grayLight;
}

.border-left {
	border-left: 1px solid @grayLight;
}

.border-right {
  border-right: 1px solid @grayLight;
}

.no-border-bottom { border-bottom: 0em; }

// use this class to make a bordered box that stick to the bottom of a container. 
// Should be applied to a row class. 
.border-box-bottom {
  border-bottom: 1px solid @grayLight;
  border-left: 1px solid @grayLight;
  border-right: 1px solid @grayLight;
  float: left; 
  width: 100%;
}

.border-box-top {
  border: 1px solid #cccccc;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

// indent

.indent {
	margin: 0 0 0 1.500em;
}

.indent-small {
  margin: 0 0 0 0.750em;
}

label.indent  {
  margin: 1em 0 0 1.500em;
}

.no-label {
  margin-left: @horizontalComponentOffset;
}
.no-label.msg {
  font-size: 0.85em;
}

.span5 .no-label {
  margin-left: @horizontalComponentOffsetSmall;
}

.no-label .controls {
  width: @inputWidth; 
}

//Homepage
.home h1, .home h2 { color: #31608d; text-align: center; }
.home h1 { font-size: 3.33em; font-weight: 400; }
.home h2 { font-size: 1.53em; font-weight: 400; }
.home.hero { position: relative;   }
.home .headings { position: absolute; top: 12%; width: 1000px;   }
.play-control { position: absolute; top: 50%; margin-top: -45px; width: 800px; }
.home .signup-wrapper { position: absolute; bottom: 12%; width: 800px;  }
 div.centered { text-align: center; display: table; width: 100%; position: relative; }



.home .headings h1, .home .headings h2 { text-align: center;   }
.hero.bg {
  background-image: url('../images/home-hero-bg-img.jpg');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat; 
  height: 675px; 
  width: 100%; 
  margin-top: -1em; 
}

.play-button { display: block; text-indent: -9999em;  width: 150px; height: 104px; margin: 0 auto; 
  background-image: url('../images/play-button.png'); background-position: top center; text-align: center;}
.play-button:hover { background-position: bottom center; }
.play-button:focus { outline: none; }
.video.modal {
position: fixed;
top: 10%;
left: 50%;
z-index: 1050;
width: 800px;
height: 460px;
margin-left: -400px;
background-color: #FFF;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
outline: none;
}
.video.modal button.close { padding-right: 10px; }
.video.modal .modal-header { padding-bottom: 0; }
//only height needs to be taller than video
.video.modal .modal-body { width: 800px; max-height: 460px; padding: 0px; }
.home-signup { width: 800px; height: 70px; background-color: #fff; background-color: rgba(255,255,255,0.8); }
.home-signup .arrow {  text-align: center; font-weight: normal; color: #fff; display: inline-block; font-size: 1.6em; line-height: 70px; vertical-align: middle;  margin: 0; padding: 0; }
.home-signup .arrow { margin-right: 15px;  width: 250px; height: 70px; background: @grayMed; }
.home-signup .arrow:after { content: ""; position: absolute; top: 0; left: 250px; width: 0; height: 0; 
border-top: 35px solid transparent; border-left: 20px solid @grayMed; border-bottom: 35px solid transparent;  }
/*label.arrow:after {  background: transparent; width: 0; height: 0; border-top: 50px solid transparent; border-left: 100px solid @grayMed; border-bottom: 50px solid transparent; }*/
.home-signup .input-append { margin: 15px 0 0 15px; }
.home-signup input[type="text"], .home-signup input[type="submit"] { height: 2.5em; }
.home-signup input[type="text"] { width: 350px; }
.home-signup input[type="submit"] { width: 126px; margin-left: 15px; }


//sections
.section { padding: 2.8em 0 1em 0; }
.section .row-fluid { margin-bottom: 1.8em;  }
.section h2 { font-weight: 400; }
.carousel.section { height: 500px; }


// carousel nav
.carousel-nav { padding: 0; background-color: #f1f1f1; min-height: 3em; border-bottom: 5px solid #d7dcde; width: 100%;  }
.carousel-nav p { margin: 0em; vertical-align: middle; padding: .8em 0; color: #ccd1d3; width: 100%;  }
.carousel-nav a { color: @grayMed; width: 100%; display: block; }
.carousel-nav a:hover {  text-decoration: none; }
.carousel-nav .row-fluid [class*="span"] {   }
.carousel-nav .link { width: 25%; float: left; font-size: 1.2em; text-align: center; line-height: 4em;  border-bottom: 5px solid transparent; margin-bottom: -5px;  }
.carousel-nav .link.active, .carousel-nav .link:hover { border-bottom: 5px solid #2ecc71;  }
.carousel-nav .link.active p { color: @grayMed; }
.carousel-inner p.intro { color: #3a71a6; font-size: 1.5em; }
.carousel-inner p span { color: #31608d; }

.carousel-nav2 { text-align: center; }
.carousel-nav2 ul { margin: 0; }
.carousel-nav2 li a {  display: block; text-indent: -99999em; background-color: #d7dcde; 
  width: 20px;
   height: 20px;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;

 }
.carousel-nav2 li.active a { background-color: #2ecc71; }

//grey sections
.grey.section { background-color: #f1f1f1;  }
.grey.section h2, .grey.section h3 { text-align: center;  }
.grey.section p.intro { font-size: 1.2em; font-weight: 400; }

//reports 
.reports.section img { float: right; }
.reports.section .carousel-inner { height: 280px; }

//colour section
.colourful.section { background-image: url('../images/colourful-bg.jpg'); 
  background-position: center top;
  background-size: 100% auto;
  height: 250px;
  width: 100%; 
}

//bottom home signup
.home-signup.bottom { margin-top: 50px; }
.home-signup.bottom .arrow { margin-right: 10px;  width: 540px; height: 70px; background: @grayMed; position: relative; }
.home-signup.bottom .arrow:after { content: ""; position: absolute; top: 0; left: 540px; width: 0; height: 0; border-top: 35px solid transparent; border-left: 20px solid @grayMed; border-bottom: 35px solid transparent;  }
.home-signup.bottom .btn {  width: 200px; height: 45px; font-size: @fontSizeLarge; margin-left: 20px; vertical-align: middle; margin: 12px 20px 0px 0px;  }


//Quote Details
.quote-details .row-fluid { margin-bottom: 1em; }
.price-header h1 { position: relative; }
.price-header small { vertical-align: top; position: absolute; margin-top: .2em;  }
.price input[type="submit"] { font-weight: 400; }

//Responsive
@media (min-width: 1400px) {
 .hero.bg { background-position: -20% center; }
}
@media (max-width: 1200px) {
  .hero.bg  { height: 475px; }
}
// Tablets & small desktops only
@media (min-width: 750px) and (max-width: 979px) {
  .hero.bg  { height: 400px; }
    .home .headings { top: 8%;   }
  .home .signup-wrapper { bottom: 8%;  }
}
// Phones only
@media (max-width: 750px) {
  .hero.bg { background: #77c2fc; }
  .play-control { top: 50%; margin-top: -30px; }
  .colourful.section { background: #71a99a; }

}

