.price {
  width: 33%;
  float: left;
  border-top: 1px solid @grayLight;
  border-bottom: 1px solid @grayLight;
  border-right: 1px solid @grayLight;
  &:first-child {
    border-left: 1px solid @grayLight;
    border-right: none;
  }
  .price-inner > div {
    padding: 0.5em 1em;
  }
  table {
    width: 100%;
    td {
      width: 50%;
    }
  }
  h1 {
    font-size: 3.6em;
    margin-bottom: 0;
    white-space: nowrap;
    line-height: 1;
    small {
      font-size: 0.313em;
    }
  }
  h3.toggle {
    cursor: pointer;
    margin: 0.438em 0 0 0;
    &:hover,&:active {
      .opacity(50);
    }
  }
  .btn {
    &:hover {
      background-color: darken(@grayLight, 8%);
    }
  }
  .btn-full {
    width: 100% !important;
  }
}

.price-highlight {
  width: 34%;
  margin-top: -0.8em;
  position: relative;
  z-index: 100;
  .box-shadow(0 0 2em rgba(0,0,0,0.3));
  .price-header {
    background-color: @green;
    color: @white;
  }
  h1 small {
    color: @white;
  }
  .btn {
    background-color: @green;
    color: @white;
    &:hover {
      background-color: darken(@green, 8%);
    }
  }
  .price-inner > div {
    padding: 0.7em 1.063em;
  }
}