body {
	color: #000;
	font-size: 12px;
	font-weight: 400;
}

.container-fluid {
	max-width: 100%;
}

a[href]:after {
	content: none;
}

p,td {
	font-weight: 400;
}

.account, .navbar, .print-page {
	display: none;
}

.text-box {
	padding: 0;
}

.span12 .text-box {
	padding: 0 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

h5 {
	font-weight: 600;
}

.table {
	thead td {
		border-bottom: 1px solid #ddd;
	}
}

.cell-margin {
  tbody {
    > tr > td {    
      border-top: 0;
      border-bottom: 0;
    }
  }
}

.text-center {
	text-align: left;
}