.report-widget {
	max-width: 420px !important;
	> div {
		background-color: transparent !important;
		height: auto !important;
	}
	h1, h2 {
		font-family: @sansFontFamily !important;
		font-weight: 700 !important;
		font-size: 4em !important;
		line-height: 1.2 !important;
		height: auto !important;
		background-color: #e6e6e6 !important;
		border: 1px solid #ccc !important;
		margin-bottom: 0.063em !important;
	}
	h2 {
		font-size: 1em !important;
		font-weight: 400 !important;
		background-color: #f1f1f1 !important;
		line-height: 3 !important;
		margin-bottom: 1.250em !important;
	}
	&.no-margin {
		h2 {
			margin-bottom: 0 !important;
		}
	}
}

.last-widget {
	h2 {
		margin-bottom: 0 !important;
	}
}

.report-table {
    clear:both;
}