//
// Tables
// --------------------------------------------------
 
//tables for responsive pages
.container-fluid table {
  font-size: 1em;
  font-weight: 300;
  th {
    font-weight: 300;
  }  
}


// BASE TABLES
// -----------------
 
table {
  max-width: 100%;
  margin-bottom: 0;
  font-size: 0.850em;
  font-weight: 600;
  border-collapse: collapse;
  border-spacing: 0;
  .btn {
    font-size: 1em;
  }
}
 
// BASELINE STYLES
// ---------------
 
.table {
  width: 100%;
  margin-bottom: @baseLineHeight;
  // Cells
  th,
  td {
    padding: 0.650em;
    line-height: @baseLineHeight;
    //text-align: left;
    vertical-align: middle;
    border-top: 1px solid @tableBorder;
  }
  th {
    font-weight: 600;
    background-color: #ddd;
    text-align: left;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: middle;
    a {
      color: @textColor;
      &:hover {
        text-decoration: none;
      }
    }
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid @tableBorder;
  }
 
  // Nesting
  .table {
    background-color: @bodyBackground;
  }
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------
 
.table-condensed {
  th,
  td {
    padding: 0.250em 0.313em;
  }
  &.table-no-border {
    th,
    td {
      padding: 0.250em 0;
    }
  }
} 
 
// BORDERED VERSION
// ----------------
 
.table-bordered {
  border: 1px solid @tableBorder;
  background-color: @tableBackground;
}

.table-bordered-inverse {
  td {
    border: 1px solid @white;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

// Useful classes for tables

.table-no-border {
  border: none;
  td {
    border: none;
  }
}


.cell-margin {
  tbody {
    > tr > td {    
      border-top: 1em solid @white;
      border-bottom: 1em solid @white;
    }
    > tr:first-child > td {
      border-top: 0;
    }
    > tr:last-child > td {
      border-bottom: 0;
    }
  }
}

.valign-top td {
  vertical-align: top;
}
 
// ZEBRA-STRIPING
// --------------
 
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: @tableBackgroundAccent;
    }
  }
}
 
 
// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table-hover {
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: @tableBackgroundHover;
      .transition(background-color .1s linear);
    }
  }
}
 
 
// TABLE CELL SIZING
// -----------------
 
// Reset default grid behavior
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none; // undo default grid column styles
  margin-left: 0; // undo default grid column styles
}
 
// Change the column widths to account for td/th padding
.table td,
.table th {
  &.span1     { .tableColumns(1); }
  &.span2     { .tableColumns(2); }
  &.span3     { .tableColumns(3); }
  &.span4     { .tableColumns(4); }
  &.span5     { .tableColumns(5); }
  &.span6     { .tableColumns(6); }
  &.span7     { .tableColumns(7); }
  &.span8     { .tableColumns(8); }
  &.span9     { .tableColumns(9); }
  &.span10    { .tableColumns(10); }
  &.span11    { .tableColumns(11); }
  &.span12    { .tableColumns(12); }
}
 
 
 
// TABLE BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped
 
.table {
  .success {
    background-color: @successBackground;
    color: @white;
  }
  .error {
    background-color: @red;
    color: @white;
  }
  .warning {
    background-color: @warningBackground;
    color: @white;
  }
  .info {
    background-color: @infoBackground;
    color: @white;
  }
}
 
// Hover states for .table-hover
.table-hover tbody tr {
  &.success:hover > td {
    background-color: darken(@successBackground, 5%);
  }
  &.error:hover > td {
    background-color: darken(@errorBackground, 5%);
  }
  &.warning:hover > td {
    background-color: darken(@warningBackground, 5%);
  }
  &.info:hover > td {
    background-color: darken(@infoBackground, 5%);
  }
}

// Sortable

th.sortable a {
  padding-right: 1.1em;
}

th.asc a:after, th.sorted.asc a:hover:after, th.sortable a:hover:after {
  font-family: FontAwesome;
  content: "\f0d7";
  float: right;
  padding-right: 1.250em;
}

th.desc a:after, th.sorted.desc a:hover:after {
  font-family: FontAwesome;
  content: "\f0d8";
  float: right;
  padding-right: 1.250em;
}

th.sortable.sorted a:hover:after {

}

th.sortable a:active:after {
  content: "";
}

.badge-success{
  background-color: #30ce73;
}
