//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #111;
@grayDarker:            #222;
@grayDark:              #333;
@gray02:                #959595;
@gray:                  #999;
@grayLight:             #ccc;
@grayLight02:           #f1f1f1;
@grayLighter:           #ecedee;
@white:                 #fff;
@grayMed:               #464646; 




// Accent colors
// -------------------------
@blue:                  #38afff;
@blueDark:              #31608d;
@blueDarker:            #0688fc; 
@green:                 #30ce73;
@greenLight: 			#2ecc71;
@greenDark:             #29b062; 
@red:                   #e71d08;
@redLight:              #eb5c55;
@yellow:                #f1c40f;
@orange:                #ffb472;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @black;


// Borders
// -------------------------

@borderColor:           #ccc;

// Links
// -------------------------
@linkColor:             @blue;
@linkColorHover:        darken(@linkColor, 15%);
@LinkColorStyle2:       #464646;
@LinkColorStyle2Hover:  #121212;


// Typography
// -------------------------
@sansFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          100%; // 15px
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        1.8; // 27px
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    300;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@pageWidth:             60.400em;
@pageMaxWidth:          70.000em;

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          0.250em 1.250em; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      2px;
@borderRadiusLarge:     3px;
@borderRadiusSmall:     1px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       @grayLight; // table and cell border

// Buttons // NOT USED - ONLY FOR PLEASING BOOTSTRAP
// -------------------------------------------------

@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               @redLight;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;


// Buttons - REAL ONES
// -------------------------

@btn-font-weight:                600;

@btn-default-color:              @grayMed;
@btn-default-bg:                 @grayLight02;
@btn-default-border:             #d7dcde;

@btn-primary-color:              @white;
@btn-primary-bg:                 @blue;
@btn-primary-border:             @blueDarker; 

@btn-success-color:              @white;
@btn-success-bg:                 @greenLight;
@btn-success-border:             @greenDark;

@btn-warning-color:              @orange;
@btn-warning-bg:                 @orange;
@btn-warning-border:             @orange;

@btn-danger-color:               @white;
@btn-danger-bg:                  @red;
@btn-danger-border:              @red;

@btn-info-color:                 @textColor;
@btn-info-bg:                    @grayLight;
@btn-info-border:                @grayLight;

@btn-link-disabled-color:        @grayLight;


// Forms
// -------------------------
@inputBackground:               #f9f9f9;
@inputBorder:                   #c2c2c2;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
@inputWidth:		            12.5em;


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.1);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
//@iconSpritePath:          "../img/glyphicons-halflings.png";
//@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         #bbb;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       12.250em;
@horizontalComponentOffsetSmall:  8em;


	// Wells
// -------------------------
@wellBackground:                  @grayLighter;


// Navbar
// -------------------------
@navbarCollapseWidth:             800px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    2.812em;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                @blueDark;
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @white;
@navbarLinkColor:                 @white;
@navbarLinkColorHover:            @white;
@navbarLinkColorActive:           @white;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    @grayLight;
@paginationActiveBackground:          #ddd;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             darken(spin(@warningBackground, -10), 40%);
@warningBackground:       @orange;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               darken(spin(@errorBackground, -10), 40%);
@errorBackground:         #f29590;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             @white;
@successBackground:       @green;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                @textColor;
@infoBackground:          @grayLighter;
@infoBorder:              @grayLight;

@pendingText:             @white;
@pendingBackground:       @yellow;
@pendingBorder:           darken(@pendingBackground, 5%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
