//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 1.188em;
  padding: 1.250em;
  margin-bottom: 1.250em;
  background-color: @wellBackground;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-large {
  padding: 24px;
  .border-radius(@borderRadiusLarge);
}
.well-small {
  padding: 9px;
  .border-radius(@borderRadiusSmall);
}

.well-success {
  background-color: lighten(@green, 35%);
}