.password-strength-meter {
    position: relative;
    left: 155px;
    top: 10px;
    height: 0px;
    width: 60px;
    display: none;
}

.password-strength-meter > .progress {
    height: 10px;
    width: 60px;
}
